button {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 32px;
    margin: 250px;
   
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: center;
    vertical-align: center;

}


  body {
    background-color:  #f4f4f4;
}

  h1 {
    font-family: Poppins ExtraBold, sans-serif;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 20px;
  
}


